{% extends "layout.html"%} {% block content %}

<div class="page-content">
    <div class="top-bar">
        <h1>register to buy products and more</h1>
    </div>
    <div class="form">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <p>
                {{ form.username.label }} {{ form.username(id_="username_new") }}
            </p>
            {% for error in form.username.errors %}
            <p style="color: red">[{{ error }}]</p>
            {% endfor %}
            <p>
                {{ form.password.label }} {{ form.password( id_="password_new") }}
            </p>
            <p>
                {{ form.confirm_password.label }} {{ form.confirm_password (id_="password_confirm") }}
            </p>
            {% for error in form.password.errors %}
            <p style="color: red">[{{ error }}]</p>
            {% endfor %}
            <input
                type="submit"
                class="item-button submit-button"
                value="Register"
            />
            <p>
                already got an account?
                <a href="/login" id="login" class=""> login </a>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
